body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenido principal */
#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para los títulos */
h1, h2, h3 {
    color: #333;
}

/* Estilo para las listas */
ul, ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilo para los párrafos */
p {
    color: #888;
}