<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %} Detalles de la categoria {% endblock %}</title>
    <!-- Agrega cualquier otro elemento necesario en head -->
</head>
<body>

{% extends "base.html" %}

{% block titulo %} Detalles de la categoria {% endblock %}

{% block contenido %}

    <h2>Datos de la categoria</h2>

    {% if categoria %}
        <h3>{{ categoria.nombre }}</h3>
        <h3>Lista de coches</h3>
        {% if coches %}
            <ol>
            {% for e in coches %}
                <li><a href="{% url 'coche' coche_id=coche.id %}">{{ e.nombre }}</a></li>
            {% endfor %}
            </ol>
        {% else %}
            <p>No tiene coches asociados.</p>
        {% endif %}
    {% else %}
        <p>No existe esta categoria.</p>
    {% endif %}

{% endblock %}

</body>
</html>
