{% extends "base.html" %}

{% block titulo %} Coches de la marca {{ marca.nombre }} {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="coches.css">
<h2>Lista de coches</h2>
<h3>{{ marca.nombre }}</h3>

{% if coches %}
    <ul>
    {% for coche in coches %}
        <li>
            <a href="{% url 'coche' coche_id=coche.id %}">{{ coche.nombre }}</a>
            <p>Modelo: {{ coche.modelo }}</p>
            <p>Precio: {{ coche.precio|floatformat:2 }}</p>
			<p>Marca: {{ coche.marca }}</p>
            <!-- Agrega más campos según sea necesario -->
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay coches creados.</p>
{% endif %}
{% endblock %}
