{% extends "base.html" %}
<html lang="es">
{% load i18n %}

{% block titulo %} {% trans "Detalles del coche" %} {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="base.css">

<h2>{% trans "Datos del coche" %}</h2>

{% if coche %}
<ul>
    <li>
        {{ coche.nombre }}
    </li>
    <li>
        {{ coche.modelo }}
    </li>
    <li>
        {{ coche.precio }}
    </li>
    <li>
        <a href="{% url 'detail' marca_id=coche.marca.id %}">{{ coche.marca }}</a>
    </li>
</ul>

<h3>{% "Lista de categorías" %}</h3>
    {% if categorias %}
        <ol>
        {% for categoria in categorias %}
            <li><a href="{% url 'categoria' categoria_id=categoria.id %}">{{ categoria.nombre }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>{% trans "No tiene categorías asociadas." %}</p>
    {% endif %}
{% else %}
    <p>{% trans "No existe este coche." %}</p>
{% endif %}

{% endblock %}
</html>








   