{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block titulo %}Listado de marcas{% endblock %}

{% block contenido %}

<header>
    <p>Idiomas:</p>
    <a href="/en/" role="button">{% trans "English" %}</a>
    <a href="/es/" role="button">{% trans "Español" %}</a>
    <a href="/fr/" role="button">{% trans "Francés" %}</a>
</header>

<nav>
    <a href="{% url 'marca_form' %}" class="header-link">{% trans "Crear Marca" %}-</a>
    <a href="{% url 'categoria_form' %}" class="header-link">{% trans "Crear Categoría" %}-</a>
    <a href="{% url 'coche_form' %}" class="header-link">{% trans "Crear Coche" %}-</a>
    <a href="{% url 'agenda' %}" class="header-link">{% trans "Acceder a la Agenda" %}</a>

</nav>
<body>
    <section class="container">
        <div class="card">
            <img id="imgcat" src='/static/img/coches1.jpeg' alt="categorias foto">
            <a href="{% url 'categoria_html' %}" class="header-link">{% trans "Categorias" %}</a>
            <p>{% trans "Lista de Categorias" %}</p>
        </div>
        <div class="card">
            <img id="imgmar" src='/static/img/coches2.jpeg' alt="marcas foto">
            <a href="{% url 'marcas_html' %}" class="header-link">{% trans "Marcas" %}</a>
            <p>{% trans "Lista de Marcas" %}</p>
        </div>
    </section>
    
    <h2>{% trans "Lista de coches" %}</h2>

    {% if coches_por_marca %}
        {% for marca_id, coches in coches_por_marca.items %}
            <h3>{{ coches.0.marca.nombre }}</h3>
            <ul>
                {% for coche in coches %}
                    <li>
                        <a href="{% url 'coche' coche_id=coche.id %}">{{ coche.nombre }}</a>
                        <p>{% trans "Modelo:" %} {{ coche.modelo }}</p>
                        <p>{% trans "Precio:" %} {{ coche.precio|floatformat:2 }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>{% trans "No hay coches creados." %}</p>
    {% endif %}


</body>

{% endblock %}


