{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block titulo %}Listado de marcas{% endblock %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<header>
    <p>Idiomas:</p>
    <a href="/en/" role="button">{% trans "English" %}</a>
    <a href="/es/" role="button">{% trans "Español" %}</a>
    <a href="/fr/" role="button">{% trans "Francés" %}</a>
</header>

<nav>
    <a href="{% url 'marca_form' %}" class="header-link">{% trans "Crear Marca" %}-</a>
    <a href="{% url 'categoria_form' %}" class="header-link">{% trans "Crear Categoría" %}-</a>
    <a href="{% url 'coche_form' %}" class="header-link">{% trans "Crear Coche" %}</a>
</nav>
<body>
    <section class="container">
        <div class="card">
            <img id="imgcat" src='/static/img/coches1.jpeg' alt="categorias foto">
            <a href="{% url 'categoria_html' %}" class="header-link">{% trans "Categorias" %}</a>
            <p>Lista de Categorias</p>
        </div>
        <div class="card" onclick="redirect('marcas.html')">
            <img id="imgmar" src='/static/img/coches2.jpeg' alt="marcas foto">
            <a href="{% url 'marcas_html' %}" class="header-link">{% trans "Marcas" %}</a>
            <p>Lista de Marcas</p>
        </div>
    </section>

    <script>
        function redirect(link) {
            window.location=link;
        }
    </script>
    

</body>

{% endblock %}


