body {
    font-family:"Comic Sans MS";
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/* Estilo para el contenido principal */
#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cba457;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para los títulos */
h1, h2, h3 {
    color: #333;
}

/* Estilo para las listas */
ul, ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilo para los párrafos */
p {
    color: #888;
}


.form-coche {
    /* Estilos específicos para el formulario */
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-coche label {
    /* Estilos para las etiquetas del formulario */
    font-weight: bold;
}

.form-coche input, .form-coche select {
    /* Estilos para los campos de entrada y selección del formulario */
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.form-coche button {
    /* Estilos para el botón del formulario */
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-coche button:hover {
    /* Estilos al pasar el ratón sobre el botón */
    background-color: #0056b3;
}

nav{
    color:blue;
    border: 5px solid black;
    text-align: center; 
    background-color:burlywood;
    font-family:"Comic Sans MS";

}

header{
    color:blue;
    text-align: left; 
    background-color:rgb(227, 205, 177);
    font-family:"Comic Sans MS";
}

#titulo{
    color:black;
    text-align: center; 
    background-color:rgb(240, 229, 215);
    font-family:"Comic Sans MS";
    text-transform: uppercase;
}